<%-layout("/layouts/boilerplate.ejs") %>
<div class="row">
    <div class="col-8 offset-2">
        <h3>Create a new Listings</h3>
        <form method="post" action="/listings">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input placeholder="enter title" name="listing[title]" type="text"
                class="form-control">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea placeholder="enter description" 
                name="listing[description]" type="text" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input placeholder="enter image url/link" name="listing[image]" 
                type="text" class="form-control">            
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input placeholder="1500" name="listing[price]" type="number" class="form-control">
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input placeholder="india" name="listing[country]" type="text" class="form-control">
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input placeholder="enter location" name="listing[location]"
                 type="text" class="form-control">
            </div>
            <button class="btn btn-dark add-btn  mt-3 mb-3">Add</button>
        </form>
    </div>
</div>