.login,.signup{
    margin-bottom: 100px;
}
.signup .form-control:focus{
    border-color: #fe424d !important;
    box-shadow: 0 0 0 0.15rem rgba(254, 66, 77, 0.15) !important;
}
.signup-btn{
    background-color: #fe424d ;
    border: none ;
    padding: 0.6rem 1.5rem ;
    border-radius: 0.5rem ;
}

.signup-btn:hover {
    background-color: #e63946 ;
    color: white;
}