.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-body{
    padding: 0 !important;
}

.card-text{
    font-weight: 400;
}

.listing-link{
    text-decoration: none !important;
    color: inherit;
}
/* card effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* filters style */
#filters{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.filter{
    text-align: center;
    margin-right: 2.5rem;
    margin-top: 2rem;
    opacity: 0.7;
}
.filter:hover{
    opacity: 1;
    cursor: pointer;
}
.filter p{
    font-size: 0.8rem;
}

.tax-switch{
    border: 2px solid black;
    border-radius: 1.2rem;
    padding: 0.7rem;
    height: 3rem;
    margin-left: 1.6rem;
    display: flex;
    align-items: center;
    margin-top: 1.8rem;
}
/* new pages */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

.add-btn:hover {
    background-color: #e63946 !important;
    transform: translateY(-1px);
    transition: all 0.2s ease;
}
