@import url("./base.css");
@import url("./navbar.css");
@import url("./footer.css");
@import url("./listings.css");
@import url("./listingDetails.css");
@import url("./auth.css");
@import url("./booking.css");
@import url("./myBookings.css");
@import url("./bookingDetails.css");

.btn{
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    stroke-width: 0ch;
    flex-flow: column;
    border-right-color: #fe424d;
    border-right-width: 0cqb;
    baseline-shift: inherit;
}